[submodule "data/xsid"]
	path = data/xsid
	url = git@github.com:mainlp/xsid.git
[submodule "data/NoMusic"]
	path = data/NoMusic
	url = git@github.com:ltgoslo/NoMusic.git
[submodule "data/UD_Norwegian-NynorskLIA_dialect"]
	path = data/UD_Norwegian-NynorskLIA_dialect
	url = https://github.com/mainlp/UD_Norwegian-NynorskLIA_dialect
[submodule "machamp"]
	path = machamp
	url = git@github.com:machamp-nlp/machamp.git
[submodule "data/norne"]
	path = data/norne
	url = https://github.com/ltgoslo/norne.git
